<div id="<%= dom_id cliente %>">
  <div>
    <strong>Nome:</strong>
    <%= cliente.nome %>
  </div>

  <div>
    <strong>Matricula:</strong>
    <%= cliente.matricula %>
  </div>

  <div>
    <strong>Cpf:</strong>
    <%= cliente.cpf %>
  </div>

</div>
