<% content_for :title, "Editar cliente" %>

<h1>Editar cliente</h1>

<%= render "form", cliente: @cliente %>

<br>

<div>
  <%= link_to "Mostrar cliente", @cliente %> |
  <%= link_to "voltar aos clientes", clientes_path %>
</div>
