<% content_for :title, "Editar cliente" %>

<h1>Editar cliente</h1>

<%= render "form", cliente: @cliente %>

<br>

<div>
  <%= link_to "Visualizar cliente", @cliente %> |
  <%= link_to "Voltar para clientes", clientes_path %>
</div>
