<div id="<%= dom_id itens_venda %>">
  <div>
    <strong>Quantidade:</strong>
    <%= itens_venda.quantidade %>
  </div>

  <div>
    <strong>Preco unitario:</strong>
    <%= itens_venda.preco_unitario %>
  </div>

</div>
