<% content_for :title, "Editar item de venda" %>

<h1>Editar item de venda</h1>

<%= render "form", itens_venda: @itens_venda %>

<br>

<div>
  <%= link_to "Visualizar item de venda", @itens_venda %> |
  <%= link_to "Voltar para itens de venda", itens_vendas_path %>
</div>
