<% content_for :title, "Editing itens venda" %>

<h1>Editing itens venda</h1>

<%= render "form", itens_venda: @itens_venda %>

<br>

<div>
  <%= link_to "Show this itens venda", @itens_venda %> |
  <%= link_to "Back to itens vendas", itens_vendas_path %>
</div>
