<% content_for :title, "Editar venda" %>

<h1>Editar venda</h1>

<%= render "form", venda: @venda %>

<br>

<div>
  <%= link_to "Visualizar venda", @venda %> |
  <%= link_to "Voltar para vendas", vendas_path %>
</div>
