<% content_for :title, "Editar funcionário" %>

<h1>Editar funcionário</h1>

<%= render "form", funcionario: @funcionario %>

<br>

<div>
  <%= link_to "Visualizar funcionário", @funcionario %> |
  <%= link_to "Voltar para funcionários", funcionarios_path %>
</div>
